.conversation {
    margin-left: 1.5rem !important;
    border-radius: 0.85rem;
}

#message-bot {
    width: 96%;
    margin: 1rem 0 1rem 1rem;
}

#nav-chat {
    height: 10%;
    border-bottom: 1px solid rgb(30 27 75 / var(--tw-bg-opacity));
    border-radius: 0.85rem 0.85rem 0 0;
}


#scrool-div div {
    scroll-snap-align: end;
}

.card {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: end;
}

strong {
    letter-spacing: 1.5px;
    font-weight: 1000;
    font-size: 10px;
    font-variation-settings:
      "wdth" 100;
}

::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de scroll */
    height: 10px; /* Altura de la barra de scroll */
    background-color: rgb(255 255 255); /* Color de fondo de la barra de scroll */
    border-radius: 5px; /* Radio de borde de la barra de scroll */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(30 27 75); /* Color de fondo del thumb de la barra de scroll */
    border-radius: 5px; /* Radio de borde del thumb de la barra de scroll */
  }